/* CustomCursor.css */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-primary);
    /* #ff4655 */
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
    will-change: transform;
    backdrop-filter: blur(1px);
}

.custom-cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: var(--color-primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    will-change: transform;
}

/* Active State (Hovering Links) */
.custom-cursor.active {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 70, 85, 0.1);
    border-color: var(--color-accent-gold);
    /* #c89b3c */
    border-style: dashed;
    animation: rotateCursor 4s linear infinite;
}

@keyframes rotateCursor {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Hide on mobile/touch */
@media (hover: none) and (pointer: coarse) {

    .custom-cursor,
    .custom-cursor-dot {
        display: none;
    }
}